@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Add Images of Games";
}

@section styles{
    <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/summernote-master/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .bs-example-modal-lg .modal-dialog .modal-dialog {
            border: 1px solid #9c9797;
            box-shadow: #bfb3b3 3px 3px 20px 8px;
        }

        .modal-header {
            background-color: #dadada;
        }
    </style>
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active">Game Images</li>
    </ol>
}

