@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Game Mode";
}

@section styles{
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    
}




@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="active">Game Mode</li>
    </ol>
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-white">
            <div class="panel panel-heading" style="height:auto;">
                <div class="col-sm-8">
                    <h2 class="panel-title">
                        <span>Game Mode List</span>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary btn-xs"
                                data-bind="click:SyncWithIgdbApi, disable:IsDataSyncing">
                            <span>Sync with IGDb Api</span>
                            <i class="fa fa-refresh" data-bind="visible:!IsDataSyncing()"></i>
                            <i class="fa fa-spinner fa-spin" data-bind="visible:IsDataSyncing"></i>
                        </button>
                    </h2>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search"
                               data-bind="value:SearchText, valueUpdate:'afterkeydown'" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" data-bind="visible:SearchText().length==0">
                                <i class="fa fa-search" data-bind="visible:!IsLoading()"></i>
                                <i class="fa fa-spinner fa-spin" data-bind="visible:IsLoading"></i>
                            </button>
                            <button type="button" class="btn btn-default" 
                                    data-bind="visible:SearchText().length>0, click:function(){SearchText('');}">
                                <i class="fa fa-remove" data-bind="visible:!IsLoading()"></i>
                                <i class="fa fa-spinner fa-spin" data-bind="visible:IsLoading"></i>
                            </button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-info btn-rounded pull-right" type="button"
                            data-toggle="modal" data-target=".bs-example-modal-sm">
                        <span>Add New</span>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:100px;">#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Url</th>
                                <th>Added On</th>
                                <th>Updated On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:GameModeList">
                            <tr>
                                <td style="width:100px;" data-bind="text: $index()+1"></td>
                                <td style="width:100px;" data-bind="text: $data.Id"></td>
                                <td>
                                    <span data-bind="text: $data.Name, visible:!$data.IsEditing()"></span>
                                    <input type="text" class="form-control" placeholder="Name"
                                           data-bind="value:$data.NewName, valueUpdate:'afterkeydown',visible:$data.IsEditing" />
                                </td>
                                <td data-bind="text: $data.NameUrl"></td>
                                <td>
                                    <span data-bind="visible:$data.Created_at!=null">
                                        <span data-bind="text: moment($data.Created_at).format('Do MMM YYYY')"></span>
                                    </span>
                                </td>
                                <td>
                                    <span data-bind="visible:$data.Updated_at!=null">
                                        <span data-bind="text: moment($data.Updated_at).format('Do MMM YYYY')"></span>
                                    </span>
                                </td>
                                <td>
                                    <div data-bind="visible:!$data.IsEditing()">
                                        <button type="button" class="btn btn-primary btn-rounded btn-xs"
                                                data-bind="click:function(){ $data.IsEditing(true);}">
                                            <i class="fa fa-edit"></i>
                                            <span>Edit</span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-rounded btn-xs" data-bind="click:$parent.DeleteGameMode">
                                            <i class="fa fa-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                    <div data-bind="visible:$data.IsEditing">
                                        <button type="button" class="btn btn-default btn-rounded btn-xs"
                                                data-bind="click:function(){ $data.IsEditing(false);}">
                                            <i class="fa fa-remove"></i>
                                            <span>Cancel</span>
                                        </button>
                                        <button type="button" class="btn btn-success btn-rounded btn-xs" 
                                                data-bind="click:$parent.UpdateGameMode,disable:$data.IsUpdating">
                                            <i class="fa fa-save"></i>
                                            <span>Save</span>
                                            <i class="fa fa-spinner fa-spin" data-bind="visible:$data.IsUpdating"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="visible:IsLoading">
                            <tr>
                                <td colspan="7">
                                    <span class="glyphicon glyphicon-refresh processingIcon"></span>
                                    <span>Loading.....</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="width:100px;">
                                    <select data-bind="options:[10,20,50,100], value:Rows, optionsCaption:'Rows'"
                                            class="form-control"></select>
                                </td>
                                <td colspan="2">
                                    <span>
                                        <span>Total:</span>
                                        <span data-bind="text:Total"></span>
                                        <span>Records</span>
                                    </span>
                                </td>
                                <td colspan="4">
                                    <div id="page-selection"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" 
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">New Game Mode</h4>
            </div>
            <div class="modal-body">
                <form id="add-new-form" data-bind="submit:AddNewGameMode">
                    <div class="form-group">
                        <label class="control-label" for="NameFiled">Name</label>
                        <input type="text" class="form-control" required id="NameFiled" placeholder="Enter Name"
                               data-bind="value:GameMode.Name, valueUpdate:'afterkeydown'">
                    </div>                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" form="add-new-form" class="btn btn-success" data-bind="disable:IsSaving">
                    <span>Save</span>
                    <i class="fa fa-spinner fa-spin" data-bind="visible:IsSaving"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="api_log_modal"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">IGDb Game Mode</h4>
            </div>
            <div class="modal-body">
                <h3 data-bind="text: ApiLogs"></h3>
                <table class="table table-bordered table-striped"
                       data-bind="visible:Igdb_GameModeList().length>0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:Igdb_GameModeList">
                        <tr>
                            <td data-bind="text:$index()+1"></td>
                            <td data-bind="text:$data.id"></td>
                            <td data-bind="text:$data.name"></td>
                            <td data-bind="text:$data.Status, css:{'text-success': $data.Status()=='Saved'}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        (function (h, q) {
            h.fn.bootpag = function (p) {
                function m(c, b) {
                    b = parseInt(b, 10); var d, e = 0 == a.maxVisible ? 1 : a.maxVisible, k = 1 == a.maxVisible ? 0 : 1, n = Math.floor((b - 1) / e) * e, f = c.find("li"); a.page = b = 0 > b ? 0 : b > a.total ? a.total : b; f.removeClass(a.activeClass); d = 1 > b - 1 ? 1 : a.leaps && b - 1 >= a.maxVisible ? Math.floor((b - 1) / e) * e : b - 1; a.firstLastUse && f.first().toggleClass(a.disabledClass, 1 === b); e = f.first(); a.firstLastUse && (e = e.next()); e.toggleClass(a.disabledClass, 1 === b).attr("data-lp", d).find("a").attr("href", g(d)); k = 1 == a.maxVisible ?
            0 : 1; d = b + 1 > a.total ? a.total : a.leaps && b + 1 < a.total - a.maxVisible ? n + a.maxVisible + k : b + 1; e = f.last(); a.firstLastUse && (e = e.prev()); e.toggleClass(a.disabledClass, b === a.total).attr("data-lp", d).find("a").attr("href", g(d)); f.last().toggleClass(a.disabledClass, b === a.total); e = f.filter("[data-lp=" + b + "]"); k = "." + [a.nextClass, a.prevClass, a.firstClass, a.lastClass].join(",."); if (!e.not(k).length) {
                var m = b <= n ? -a.maxVisible : 0; f.not(k).each(function (b) {
                    d = b + 1 + n + m; h(this).attr("data-lp", d).toggle(d <= a.total).find("a").html(d).attr("href",
                    g(d))
                }); e = f.filter("[data-lp=" + b + "]")
            } e.not(k).addClass(a.activeClass); l.data("settings", a)
                } function g(c) { return a.href.replace(a.hrefVariable, c) } var l = this, a = h.extend({
                    total: 0, page: 1, maxVisible: null, leaps: !0, href: "javascript:void(0);", hrefVariable: "{{number}}", next: "&raquo;", prev: "&laquo;", firstLastUse: !1, first: '<span aria-hidden="true">&larr;</span>', last: '<span aria-hidden="true">&rarr;</span>', wrapClass: "pagination", activeClass: "active", disabledClass: "disabled", nextClass: "next", prevClass: "prev",
                    lastClass: "last", firstClass: "first"
                }, l.data("settings") || {}, p || {}); if (0 >= a.total) return this; h.isNumeric(a.maxVisible) || a.maxVisible || (a.maxVisible = parseInt(a.total, 10)); l.data("settings", a); return this.each(function () {
                    var c, b, d = h(this); c = ['<ul class="', a.wrapClass, ' bootpag">']; a.firstLastUse && (c = c.concat(['<li data-lp="1" class="', a.firstClass, '"><a href="', g(1), '">', a.first, "</a></li>"])); a.prev && (c = c.concat(['<li data-lp="1" class="', a.prevClass, '"><a href="', g(1), '">', a.prev, "</a></li>"])); for (b =
                    1; b <= Math.min(a.total, a.maxVisible) ; b++) c = c.concat(['<li data-lp="', b, '"><a href="', g(b), '">', b, "</a></li>"]); a.next && (b = a.leaps && a.total > a.maxVisible ? Math.min(a.maxVisible + 1, a.total) : 2, c = c.concat(['<li data-lp="', b, '" class="', a.nextClass, '"><a href="', g(b), '">', a.next, "</a></li>"])); a.firstLastUse && (c = c.concat(['<li data-lp="', a.total, '" class="last"><a href="', g(a.total), '">', a.last, "</a></li>"])); c.push("</ul>"); d.find("ul.bootpag").remove(); d.append(c.join("")); c = d.find("ul.bootpag"); d.find("li").click(function () {
                        var b =
                        h(this); if (!b.hasClass(a.disabledClass) && !b.hasClass(a.activeClass)) { var c = parseInt(b.attr("data-lp"), 10); l.find("ul.bootpag").each(function () { m(h(this), c) }); l.trigger("page", c) }
                    }); m(c, a.page)
                })
            }
        })(jQuery, window);
</script>
    <script src="/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/knockout/dist/knockout.debug.js"></script>
    
    <script type="text/javascript">
       
        function AppViewModel() {
            var self = this;
            self.Offset = ko.observable(0);
            self.Rows = ko.observable(10).extend({ rateLimit: 500 });
            self.Total = ko.observable(0);
            self.GameModeList = ko.observableArray([]);
            self.IsLoading = ko.observable(false);
            self.IsSaving = ko.observable(false);
            self.SearchText = ko.observable('').extend({ rateLimit: 500 });
            self.IsDataSyncing = ko.observable(false);
            self.ApiLogs = ko.observable('');
            self.Igdb_GameModeList = ko.observableArray([]);

            self.GameMode = {
                Id: ko.observable(0),
                Name: ko.observable(''),
                NameUrl: ko.observable(''),
                Created_at: ko.observable(''),
                Updated_at: ko.observable(''),
                Igdb_Id: ko.observable(0)
            };
            self.GetGameModes = function (offset, index) {
                self.IsLoading(true);
                offset = offset || 0;
                index = index || 1;
                $.get('/master/getpaginatedgamemodeasync/' + offset + '/' + self.Rows(), function (obj) {
                    var totalPage = (obj.TotalCount > self.Rows()) ? obj.TotalCount / self.Rows() : 1;
                    var reminder = (obj.TotalCount > self.Rows()) ? obj.TotalCount % self.Rows() : 0;
                    if (reminder > 0) { totalPage += 1; }
                    $.each(obj.PagedSet, function (i, o) { self.GameModeList.push(new GameModeViewModel(o)); });
                    $('#page-selection').bootpag({ total: parseInt(totalPage), page: index, maxVisible: 10 });
                    self.Total(obj.TotalCount);
                    self.IsLoading(false);
                    console.log(obj);
                });
            };

            self.Rows.subscribe(function (newValue) {
                self.GameModeList.removeAll();
                self.GetGameModes();
            });

            self.SearchText.subscribe(function (newValue) {
                newValue = newValue || '';
                if (newValue.length == 0) {
                    self.GameModeList.removeAll();
                    self.GetGameModes();
                }
                self.GetSearchResult();
            });

            self.GetSearchResult = function (Offset, index) {
                Offset = Offset || 0;
                index = index || 1;
                self.IsLoading(true);
                $.ajax({
                    type: 'POST', dataType: "json",
                    url: '/master/searchgamemode',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON({ offset: Offset, rows: self.Rows(), searchTxt: self.SearchText() }),
                    success: function (obj) {
                        self.GameModeList.removeAll();
                        var totalPage = (obj.TotalCount > self.Rows()) ? obj.TotalCount / self.Rows() : 1;
                        var reminder = (obj.TotalCount > self.Rows()) ? obj.TotalCount % self.Rows() : 0;
                        if (reminder > 0) { totalPage += 1; }
                        $.each(obj.PagedSet, function (i, o) { self.GameModeList.push(new GameModeViewModel(o)); });
                        $('#page-selection').bootpag({ total: parseInt(totalPage), page: index, maxVisible: 10 });
                        self.Total(obj.TotalCount);
                        self.IsLoading(false);
                    },
                    error: function (result) { console.log(result); toastr.warning('Error'); }
                });
            };

            self.AddNewGameMode = function () {
                self.IsSaving(true);
                $.ajax({
                    type: 'POST', dataType: "json",
                    url: '/master/addnewgamemode',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON(self.GameMode),
                    success: function (data) {
                        $('.bs-example-modal-sm').modal('hide');
                        self.IsSaving(false); console.log(data);
                        toastr.success('Success');
                        self.GameModeList.removeAll();
                        self.GetGameModes(self.Offset(), self.Rows());
                    },
                    error: function (result) { console.log(result); toastr.warning('Error'); }
                });

            };

            self.UpdateGameMode = function (obj) {
                console.log('UpdateGameMode', obj);
                obj.IsUpdating(true);
                obj.Name(obj.NewName());
                obj.NameUrl(obj.NewNameUrl());
                $.ajax({
                    type: 'POST', dataType: "json",
                    url: '/master/updategamemode',
                    contentType: "application/json; charset=utf-8",
                    data: ko.toJSON(obj),
                    success: function (data) {
                        obj.IsUpdating(false);
                        obj.IsEditing(false);
                        self.GameModeList.removeAll();
                        self.GetGameModes(self.Offset(), self.Rows());
                        console.log(data);
                        toastr.success('Success');
                    },
                    error: function (result) { console.log(result); toastr.warning('Error'); }
                });

            };

            self.DeleteGameMode = function (obj) {
                obj.IsDeleting(true);
                $.ajax({
                    type: 'GET', dataType: "json",
                    url: '/master/deletegamemode/'+obj.Id,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        obj.IsDeleting(false);
                        self.GameModeList.removeAll();
                        self.GetGameModes(self.Offset(), self.Rows());
                        console.log(data);
                        toastr.success('Success');
                    },
                    error: function (result) { console.log(result); toastr.warning('Error'); }
                });

            };

            self.Init = function () {
                self.GetGameModes(self.Offset());
            };

            self.SyncWithIgdbApi = function () {
                self.IsDataSyncing(true);
                $('#api_log_modal').modal('show');
                $.when(
                    $.get('/master/getgamemode_last_igdbid'),
                    $.get('/master/getgamemode_count_igdb')
                ).then(function (result1, result2) {
                    var lastGameMode = result1[0];
                    var totalGameModes = result2[0];
                    console.log('lastGameMode:', lastGameMode, 'totalGameModes:', totalGameModes);
                    if (lastGameMode != null || lastGameMode != undefined) {
                        if (totalGameModes != null || totalGameModes != undefined) {
                            for (var offset = lastGameMode; offset < totalGameModes; offset += 50) {
                                self.ApiLogs('Getting data from IgDb Api, from OffSet: ' + offset + ' To next 50 records.');
                                self.Igdb_GameModeList.removeAll();
                                var task = $.ajax({
                                    type: 'GET', dataType: "json",
                                    url: '/master/getpaginatedgamemode_from_igdb/' + offset,
                                    contentType: "application/json; charset=utf-8",
                                    success: function (data) {
                                        console.log('offset: ', offset, 'Data:', data);
                                        $.each(data, function (index, obj) {
                                            self.Igdb_GameModeList.push(new Igdb_GameMode(obj));
                                        });
                                    }
                                }).done(function () {
                                    $.each(self.Igdb_GameModeList(), function (index, obj) {
                                        obj.Status('Saving');
                                        console.log('Save_igdb_GameMode', ko.toJSON(obj));
                                        $.ajax({
                                            type: 'POST', dataType: "json",
                                            url: '/master/save_igdb_gamemode',
                                            contentType: "application/json; charset=utf-8",
                                            data: ko.toJSON(obj),
                                            success: function (data) { obj.Status('Saved'); }
                                        });
                                    });
                                });
                            }
                        };
                    };
                }).then(function () {
                    self.ApiLogs('Sync in Process.');
                    self.IsDataSyncing(false);
                });

            };

            function Igdb_GameMode(obj) {
                var x = this;
                x.Status = ko.observable('');
                x.created_at = obj.created_at;
                x.games = obj.games;
                x.id = obj.id;
                x.name = obj.name;
                x.slug = obj.slug;
                x.updated_at = obj.updated_at;
                x.url = obj.url;

            };

            function GameModeViewModel(obj) {
                var x = this;
                x.Id = obj.Id;
                x.Name = ko.observable(obj.Name);
                x.NewName = ko.observable(obj.Name);
                x.NameUrl = ko.observable(obj.NameUrl);
                x.NewNameUrl = ko.observable(obj.NameUrl);
                x.Created_at = obj.Created_at;
                x.Updated_at = obj.Updated_at;
                x.Igdb_Id = obj.Igdb_Id;
                x.IsEditing = ko.observable(false);
                x.IsUpdating = ko.observable(false);
                x.IsDeleting = ko.observable(false);
                x.NewName.subscribe(function (newValue) {
                    var str = GetWithoutSpecialChar(newValue);
                    x.NewNameUrl(str);
                });
            }
        }
        $(document).ready(function () {
            var app = new AppViewModel();
            ko.applyBindings(app);
            app.Rows(10);
            app.Init();
            $('select').select2();
            
            $('#page-selection').bootpag({ total: 10, page: 1, maxVisible: 10 });

            $('#page-selection').on('page', function (event, num) {
                console.log('bootpag', event, num);
                var offset = (app.Rows() * (num - 1));
                app.GameModeList.removeAll();
                if (app.SearchText().length > 0) {
                    app.GetSearchResult(offset, num);
                } else { app.GetGameModes(offset, num); }
            });
        });
    </script>
}