<div class="pre-own animation-element slide-bottom in-view">
    <div class="row">
        <div class="col-md-7">
            <div class="pre-img ">
                <img src="/images/pre-own-banner.jpg" alt="pre-own" title="Pre-own">
            </div>
        </div>
        <div class="col-md-5">
            <div class="pre-box">
                <h3 class="txt-upr">
                    <span class="clr-red">PRE - Owned </span><br>
                    <span class="clr-black">Gaming Guarantee</span>
                </h3>
                <p>
                    All our pre-owned products have been carefully tested, and are guaranteed to work. Some products might even come with Warranties (check documentation and invoice). If you are not completely satisfied, simply return the product within seven (7) days for your money back or identical exchange.
                </p>
            </div>
            <div class="pre-own-txt">
                <ul class="round-box txt-center">
                    <li>
                        <div class="img">
                            <span>
                                <img src="/images/dvd.png" alt="Game Store">
                            </span>
                        </div>
                        <p>
                            Product is guaranteed to work
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <span>
                                <img src="/images/box.png" alt="Game Store">
                            </span>
                        </div>
                        <p>
                            May not include origianl box or manual
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <span>
                                <img src="/images/home.png" alt="Game Store">
                            </span>
                        </div>
                        <p>
                            Picture item may not represent condition received
                        </p>
                    </li>
                    <li>
                        <div class="img">
                            <span>
                                <img src="/images/money.png" alt="Game Store">
                            </span>
                        </div>
                        <p>
                            3 days money back guaranteed
                        </p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>