<div class="leftSideLink">
    <div class="linkBlock">
        <h4>Policy</h4>
        <ul>
            <li><a href="/terms-of-use">Term of Use</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/shipping-policy">Shipping Policy</a></li>
            <li><a href="/pre-owned-guarantee">Pre Owned Guarantee</a></li>
            <li><a href="/return-and-refund-policy">Return &amp; Refund Policy</a></li>
        </ul>
    </div>
    <div class="linkBlock">
        <h4>How it works</h4>
        <ul>
            <li><a href="/pages/buy">Buy</a></li>
            <li><a href="/pages/sell">Sell</a></li>
            <li><a href="/refer-and-earn">Refer and Earn</a></li>
            @*<li><a href="/pages/in-store-credits">In Store Credits</a></li>*@
        </ul>
    </div>
    <div class="linkBlock">
        <h4>Company</h4>
        <ul>
            <li><a href="/faq">FAQ's</a></li>
            <li><a href="/career">Career</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>

</div>